.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100vw;
    height: 6rem;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.navbar-dark {
    background-color: #000;
    transition: all 1s;
}


.navbar-items {
    background-color: transparent;
}

.nav-link {
    color: white !important;
}

.navbar-collapse {
    background-color: transparent;
    padding: 2rem;
    width: 100vw;
    flex-direction: row-reverse;
}

.container-fluid {
    padding: 0;
}

.nav-item {
    padding: 0 1rem;
}

.dropdown-toggle::after {
    display: none;
}

// Navbar

.chevron-1 {
    transform: translateY(-20%);
}

.chevron-2 {
    margin: 0;
    padding: 0;
    transform: translate(-112%, 30%);
}

.dropdown-dark {
    background-color: #000;
    border-radius: 2rem;
    transform: translateY(-100%);
    transition: all 1s ease-in;
    
    &.show {
        transform: translateY(0%);
        transition: all 0.2s;
        overflow: hidden;
        
        li {
            transition: all 0.2s;
            transform: translateX(0%);
        }
        
    }
    
    li {
        transition: all 0.2s;
        padding: 0 1rem;
        transform: translateX(-100%);
    }
    
    a {
        color: $primary-color !important;
        font-size: 1.6rem;
    }
}