.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 6rem;
    padding: 0;
    margin: 0;
    z-index: 100;

    &__buttons {
        
        & a {
            position: relative;

            & .length-bubble {
                width: 2.2rem;
                height: 2.2rem;
                position: absolute;
                top: 1rem;
                right: .5rem;
                text-align: center;
                background-color: #fff;
                border-radius: 50%;

                & span {
                    display: inline-block;
                    font-size: 1.6rem;
                    font-weight: 900;
                    color: #000;
                }
            }
            
        }
    }
}

.navbar-dark {
    background-color: #000;
    transition: all 1s;
}

.navbar-toggler {
    display: inline-block;
    height: 60px;
    padding: 1.4rem;
    background: transparent;
    border: none;
    transition: all .2s;
}

.navbar-toggler:hover {
    border: 3px solid $primary-color;
}

.navbar-items {
   
    &__logobox {
        margin-left: 2rem;
        height: 6rem;
        overflow: hidden;
        z-index: 1000;
    }

    &__logo-link {
        height: 100%;
        width: 100%;
    }

    &__logo-img {
        width: 8rem;
        height: 100%;
        object-fit: contain;
    }

}

.nav {
    position: fixed;
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: #000;
    padding: clamp(1rem, 5vw, 6rem);
    z-index: 1000;
    transform: scale(1);
    transition: all .8s;
    height: 150vh;

    @include atLarge {
        height: 1vh;
    }
    &.animate {

        @include atLarge {
            animation: 1s grow ease forwards;
        }
    }

    @keyframes grow {
        100% {
            height: 200vh;
            width: 100vw;
         }
        
    }
    
    &.hide{
        display: none;
        // transform: scale(0);
        // height: 0rem;
    }

    &__close {
        visibility: hidden;
        position: fixed;
        top: 1rem;
        right: 2rem;
        font-size: 4rem;
        color: #fff;
        padding: 3rem;
        z-index: 2000;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 1.5s ease-in;

        &:hover {
            color: $primary-color;
            // border: 2px solid $primary-color;
        }
    }


    &__link {
        // margin-bottom: 5rem;
        font-size: clamp(3rem, 8vw, 10rem);
        font-weight: 100;
        color: $grey-color;
        text-decoration: none;
        position: relative;
        transition: all 0.1s ease-in-out;

        &:first-child {

            @include atXLarge {
                margin-top: 40vh;
            }
        }
        
        & > span {
            display: block;
            text-align: center;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            padding: 5rem 0;
            position: relative;
            transition: all 0.2s ease-in-out;
            z-index: 1001;
        }

        &:hover {
            color: $primary-color;

            & > span {
                border-top-color: $primary-color-dark;
                border-bottom-color: $primary-color-dark;
            }

            & > img {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }

    &__img {
        position: absolute;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: transform .25s, opacity .25s;
        pointer-events: none;
        // max-width: 70vw;
        // height: 70vh;
        object-fit: contain;

    }
}