{%extends 'base.html'%}
{% load static %} 

{% block extra_js %} 
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
<script src="{% static 'home/js/home_animations.js' %}" defer></script>
{% endblock %} 

{% block content %}
<section class="hero">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="{% static 'media/pexels-pavel-danilyuk.mp4' %}" type="video/mp4">
            Your Browser is not supported!
        </video>
    </div>
    <div class="hero__content">
        <p>Calm your mind & Grow your physique</p>
        <h1>Gym Zen, come <br> train with us. You <br>won't regret it.</h1>
        <a href="{% url 'memberships' %}" class="btn-hollow"> Read More 
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
    <div class="rects">
        <div class="rect green-rect"></div>
        <div class="rect black-rect"></div>
        <div class="rect grey-rect"></div>
    </div>
</section>

<section class="index-info" id="index-info">
    <div class="container">
        <div class="index-info__content">
            <div class="index-info__grid dot-grid"></div>
            <div class="index-info__sun">
            </div>
            <div class="index-info__box" id="fade-box">
                <a href="#" class="index-info__logo">
                    <img class="index-info__logo-img" src="{% static 'media/alpha-logo-no-mark.png' %}" alt="Company logo">
                </a>
                <h2 class="index-info__heading">{{ random_quote.quote }}</h2>
                <h3>--- {{ random_quote.origin }}</h3>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="row gy-5">
        <div class="col-sm-12 col-md-4  px-4">
            <div class="services__card mx-auto">
                <i class="fas fa-dumbbell"></i>
                <h2>The Best Equipment</h2>
                <h3>Made to suit all needs</h3>
                <p>We pride ourselves on not only our selection, our variety but our maintenance of all our equipment too. At any Gym Zen location you will only find the best. </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 px-4">
            <div class="services__card mx-auto">
                <i class="fas fa-users"></i>
                <h2>Experienced Trainers</h2>
                <h3>Who are here to help</h3>
                <p>With a huge squad of knowledgeable trainers who not only do classes and personal training, but you will always see out on the gym floor giving advice and spots.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 px-4">
            <div class="services__card mx-auto">
                <i class="fas fa-coins"></i>
                <h2>Competitive Prices</h2>
                <h3>With unbeatable value</h3>
                <p>Our commitment to members over the years has grown a strong consistent client base which allows us to stay competitive with prices while also offering you the best</p>
            </div>
        </div>
    </div>
</section>

<div class="classes">
    <div class="container">
        <div class="index-info__grid--classes dot-grid"></div>
        <div class="row">
            <div class="col-sm-12 col-md-5 classes__info">
                <div class="classes__title mb-5">Classes every day, <br> fun <small>&</small> fat burning</div>
                <div class="classes__blurb">
                    Fun, practical & effective. With classes multiple every day, you'll never get bored and you'll always be able to fit a class into your schedule. Beginner friendly, but also challenging enough for the most experienced athletes. 
                </div>
                <a href="{% url 'memberships' %}" class="btn-hollow btn-hollow--white">Read More
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-1"></div>
            <div class="col-sm-12 mx-sm-0 col-md-6 justify-self-end">
            <div class="classes__logobox">
                <img class="classes__logo" src="{% static 'media/alpha-logo-no-mark.png' %}" alt="">
            </div>
            </div>
        </div>
    </div>
</div>

<div class="carousel">
    <div class="carousel__container" id="carousel">

        <div class="d-flex carousel__list" id="carousel-flex">
            {% for slide in slides %}
            <img src="{{ MEDIA_BASE_URL }}{{ slide.image }}" alt="">
            {% endfor %}
        </div>
        <div class="carousel__nav-btn carousel__nav-btn--left" id="carousel-left">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="carousel__nav-btn carousel__nav-btn--right" id="carousel-right">
            <i class="fas fa-chevron-right"></i>
        </div>

        <div class="carousel__info">
            {% for slide in slides %}
            {% if forloop.first %}
            <div class="carousel__blurb active">
            {% else %}
            <div class="carousel__blurb">
            {% endif %}
                <h3>{{ slide.heading }}</h3>
                <p>{{ slide.description }}</p>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>


{% endblock %}