{%extends 'base.html'%}
{% load static %} 

{% block extra_js %} 
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
{% endblock %} 

{% block content %}

<section class="hero">
    <div class="bg-memberships">
            <img class="memberships-img" src="{% static 'media/memberships-hero.jpg' %}">
    </div>
    <div class="hero__content">
        <h1>Gym Zen, come <br> train with us. Lorem <br> ipsum let</h1>
    </div>
</section>

<div style="height: 50vh;"></div>

{% endblock %}