{%extends 'base.html'%}
{% load static %} 

{% block extra_js %} 
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
{% endblock %} 

{% block content %}

<section class="hero">
    <div class="bg-memberships">
            <img class="memberships-img" src="{% static 'media/memberships-hero.jpg' %}">
    </div>
    <div class="hero__content">
        <h1>Every Location <br>Every Class <br>One membership</h1>
    </div>
</section>

<section class="memberships">
    <div class="container">
        {% for class in workout_classes %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="row flex-column-reverse flex-lg-row-reverse">
        {% else %}
        <div class="row flex-column-reverse flex-lg-row">
        {% endif %}
            <div class="col-7">
                <div class="memberships__info d-flex flex-column h-100  align-items-center">
                    <h3>{{ class.tagline }}</h3>
                    <h2 class="primary-color-darker">{{ class.name }}</h2>
                    <p>{{ class.description }}</p>
                </div>
            </div>
            <div class="col-5">
                <div class="img-container">
                    <img class="img" src="{% static 'media/memberships-hero.jpg' %}" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<div style="height: 50vh;"></div>

{% endblock %}