{%extends 'base.html'%}
{% load static %} 

{% block extra_js %} 
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
{% endblock %} 

{% block content %}

<section class="hero">
    <div class="bg-video">
            <img src="{% static 'media/memberships-hero.jpg' %}">
    </div>
    <div class="hero__content">
        <p>Cheap prices, blah blah</p>
        <h1>Gym Zen, come <br> train with us. Lorem <br> ipsum let</h1>
        <button class="btn-hollow"> Read More 
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</section>

{% endblock %}