// GENERAL RESETS

*,
*::after,
*::before {
    margin: 0;
    padding: 0%;
    box-sizing: inherit;
}

html {
    width: 100vw;
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overflow-wrapper {
    width: 100vw;
    overflow-x: hidden !important;
}

// ALERTS

#alerts {
    position: fixed;
    bottom: 20rem;
    left: 5rem;
    z-index: 100;
    transition: transform 0.6s ease-in;
}

.alert {
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    border-radius: 3rem;
}

.alert-danger {
    border:5px solid $warning-color;
}

.alert-success {
    border:5px solid $primary-color;
}

.hide-alerts {
    transform: translateX(-140%);
}