.primary-color {
    color: $primary-color !important;
}

.primary-color-dark {
    color: $primary-color-dark !important;
}

.primary-color-darker {
    color: $primary-color-darker !important;
}

.primary-bg {
    background-color: $primary-color !important;
}

.primary-bg-dark {
    background-color: $primary-color-dark !important;
}
.primary-bg-darker {
    background-color: $primary-color-darker !important;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.my-6rem {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

// FONT SIZES

.page-header {
    font-size: 5.4rem;
}