.primary-color {
    color: $primary-color !important;
}

.primary-color-dark {
    color: $primary-color-dark !important;
}

.primary-color-darker {
    color: $primary-color-darker !important;
}

.primary-bg {
    background-color: $primary-color !important;
}

.primary-bg-dark {
    background-color: $primary-color-dark !important;
}
.primary-bg-darker {
    background-color: $primary-color-darker !important;
}