{%extends 'base.html'%}
{% load static %} 
{% load mathfilters %} 

{% block extra_js %}
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
{% endblock %} 

{% block content %}
<div class="mobile-filler"></div>

<div class="container">
    <div class="row">
        <div class="col p-5">
            <h1 class="my-5 text-uppercase">Checkout</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 px-5 bag-items">
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-5 color-black">Order Summary</h3>
                    <hr>
                </div>
                {% if bag_items %}
                    {% for item in bag_items %}
                    <div class="col-12 col-lg-6 text-center text-lg-start">
                        <div class="mx-auto mb-5 mb-lg-0 d-flex flex-lg-column">
                            <a class="w-50 d-lg-none" href="{% url 'product_detail' item.product.id %}">
                                <img src="{{ MEDIA_BASE_URL }}{{ item.product.image }}" alt="">
                            </a>
                            <a class="d-none d-lg-block" href="{% url 'product_detail' item.product.id %}">
                                <img src="{{ MEDIA_BASE_URL }}{{ item.product.image }}" alt="">
                            </a>
                            <div class="bag-items__info">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <h3 class="mb-0">{{ item.product.name }}</h3>
                                </a>
                                <h3 class="my-2">Quantity: {{ item.quantity }}</h3>
                                <h3 class="mt-2">Total: ${{ item.product.price|mul:item.quantity }}</h3>
                            </div>  
                        </div>
                    </div>  
                    {% endfor %}
                {% else %}
                <h3 class="mb-5">You have nothing in your cart!</h3>
                {% endif %}

            </div>
        </div>
        <div class="col-12 col-lg-4 ms-auto p-5 p-md-0">
            <form action="{% url 'checkout' %}" method="post" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}  
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.city | as_crispy_field }}
                    {{ order_form.street_address | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.eircode | as_crispy_field }}
                    <div class="form-check form check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label for="id-save-info" class="form-check-label">Save this delivery information to my profile</label>
                        <input type="checkbox" id="id-save-info" name="save-info" checked class="form-check-input ml-2 mr-0">
                        {% else %}
                        <label for="id-save-info" class="form-check-label">
                            <a href="" class="text-info">Create an account</a> or
                            <a href="" class="text-info">login</a> to save this information
                        </label>
                        {% endif  %}
                    </div>
                </fieldset>
                <fieldset class="px-3 ">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
    
                    <!-- Used to display form errors  -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">
                    <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <div class="fas fa-chevron-left"></div>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button class="btn btn-black rounded-0" id="submit-button">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
               </form>
            <a href="{% url 'products' %}" class="btn-rounding m-0">
                <i class="fas fa-chevron-left"></i> Keep Shopping
            </a>
        </div>
    </div>

</div>{% endblock %}