*,
*::after,
*::before {
  margin: 0;
  padding: 0%;
  box-sizing: inherit;
}

html {
  width: 100vw;
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflow-wrapper {
  width: 100vw;
  overflow-x: hidden !important;
}

.primary-color {
  color: #67DB5C !important;
}

.primary-color-dark {
  color: #368F2E;
}

.primary-color-darker {
  color: #17421E;
}

.primary-bg {
  background-color: #67DB5C;
}

.primary-bg-dark {
  background-color: #368F2E;
}

.primary-bg-darker {
  background-color: #17421E;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  min-height: 550px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video::after {
  content: '';
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 65vw 0, 20vw 100%, 0 100%);
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-hollow {
  width: 30rem;
  font-size: 2rem;
  color: #67DB5C;
  background-color: transparent;
  border: #67DB5C 3px solid;
  padding: 1rem 2.3rem;
  border-radius: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.btn-hollow i {
  transform: translateX(200%);
}

.btn-hollow--white {
  color: #fff;
  background-color: transparent;
  border: #fff 3px solid;
}

.rects {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60vh;
  right: -8rem;
  height: auto;
  width: auto;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 100%);
  transform: rotate(-37deg);
}

.rects:has(.rect.stretch) {
  clip-path: none;
}

.rect {
  margin-top: 2rem;
  display: block;
  width: 40rem;
  height: 4rem;
  transform: scaleX(1);
  z-index: -10;
}

.rect.stretch {
  transition: all 2.5s ease-out;
  transform: scaleX(25);
}

.grey-rect {
  width: 20rem;
  background-color: #d9d9d9;
}

.black-rect {
  width: 30rem;
  background-color: #000;
  z-index: -10;
}

.green-rect {
  background-color: #67DB5C;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100vw;
  height: 6rem;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.navbar-dark {
  background-color: #000;
  transition: all 1s;
}

.navbar-items {
  background-color: transparent;
}

.nav-link {
  color: white !important;
}

.navbar-collapse {
  background-color: transparent;
  padding: 2rem;
  width: 100vw;
  flex-direction: row-reverse;
}

.container-fluid {
  padding: 0;
}

.nav-item {
  padding: 0 1rem;
}

.dropdown-toggle::after {
  display: none;
}

.chevron-1 {
  transform: translateY(-20%);
}

.chevron-2 {
  margin: 0;
  padding: 0;
  transform: translate(-112%, 30%);
}

.dropdown-dark {
  background-color: #000;
  border-radius: 2rem;
  transform: translateY(-100%);
  transition: all 1s ease-in;
}

.dropdown-dark.show {
  transform: translateY(0%);
  transition: all 0.2s;
  overflow: hidden;
}

.dropdown-dark.show li {
  transition: all 0.2s;
  transform: translateX(0%);
}

.dropdown-dark li {
  transition: all 0.2s;
  padding: 0 1rem;
  transform: translateX(-100%);
}

.dropdown-dark a {
  color: #67DB5C !important;
  font-size: 1.6rem;
}

.hero {
  height: 80vh;
  min-height: 60rem;
  overflow: hidden;
}

.hero__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #368F2E;
  background-color: transparent;
  padding-left: 10rem;
  margin-top: -5rem;
  overflow: hidden;
}

.hero p {
  color: #67DB5C;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin: 0;
}

.hero h1 {
  color: #fff;
  font-size: 5.4rem;
  width: 60rem;
}

.index-title {
  color: blue;
  background-color: red;
}
