{% extends 'base.html' %}
{% load static %} 

{% block content %}

<div class="mobile-filler"></div>


<div class="container error-container">
	<div class="row ">
		<div class="col-12 text-center account-flex">
            <h1 class=" error-heading text-danger">500</h1>
            <p class="error-text fw-bold">
                Internal server error.
            </p>
            <p class="error-text fw-bold" >Follow this link to return home</p>
            <a href="{% url 'home' %}" class="btn-rounding">
                Home
            </a>
		</div>
	</div>
</div>
{% endblock %}