{% load static %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 h-100 p-5 d-flex flex-column">
                <span class="pb-3 fs-2">Navigation</span>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'products' %}">Merch</a></li>
                    <li><a href="{% url 'memberships' %}">Membership</a></li>
                    <li><a href="{% url 'bag' %}">View Bag</a></li>
                    <li><a href="{% url 'newsletter' %}">Newsletter</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'add_product' %}">Admin Add Product</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-6 d-md-none text-center">
                <a href="#" class="footer__logo-link">
                    <img class="footer__logo-img" src="{% static 'media/alpha-logo-no-mark.png' %}" alt="Company logo">
                </a>
            </div>
            <div class="col-12 col-md-6 p-5">
                <span class="fs-2">Follow Us:</span>
                <ul class="footer__socials mt-5 d-flex flex-md-column flex-lg-row">
                    <li>
                        <a class="footer__social-icon" href="https://facebook.com" rel="noopener noreferrer" target="_blank">
                            <i class="fa-brands fa-facebook"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="https://instagram.com" rel="noopener noreferrer" target="_blank">
                            <i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="https://twitter.com" rel="noopener noreferrer" target="_blank">
                            <i class="fa-brands fa-twitter"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="https://whatsapp.com" rel="noopener noreferrer" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="https://youtube.com" rel="noopener noreferrer" target="_blank">
                            <i class="fa-brands fa-youtube"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row footer__bottom-row pb-5">
            <div class="d-flex col-12 col-md-6 col-lg-7 p-5 align-items-end">
                <span class=""> Copyright Eoghan Behan &copy;</span>

            </div>
            <div class="col-4 d-none d-md-flex ">
                <a href="#" class="footer__logo-link">
                    <img class="footer__logo-img" src="{% static 'media/alpha-logo-no-mark.png' %}" alt="Company logo">
                </a>
            </div>
        </div>

    </div>
</footer>
