{% load static %}

<footer class="footer">
    <div class="row h-100">
        <div class="col-6 col-lg-5">
            <div class="row h-100">
                <div class="col-12 col-lg-6 h-100 p-5 d-flex flex-column">
                    <span class="pb-3">Navigation</span>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Merch</a></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <span class="mt-auto"> Copyright Eoghan Behan &copy;</span>
                </div>
                <div class="col-12 col-lg-6 .d-sm-none .d-lg-block">
                    <span>Hello</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 p-5">
                    <span>Follow Us:</span>
                    <ul class="mt-5 d-flex">
                        <li><a class="footer__social-icon" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a class="footer__social-icon" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a class="footer__social-icon" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a class="footer__social-icon" href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a class="footer__social-icon" href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>