{% load static %}

<footer class="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-lg-6 h-100 p-5 d-flex flex-column">
                <span class="pb-3 fs-2">Navigation</span>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Merch</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 p-5">
                <span>Follow Us:</span>
                <ul class="footer__socials mt-5 d-flex">
                    <li>
                        <a class="footer__social-icon" href="#"
                            ><i class="fa-brands fa-facebook"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="#"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="#"
                            ><i class="fa-brands fa-twitter"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="#"
                            ><i class="fa-brands fa-whatsapp"></i
                        ></a>
                    </li>
                    <li>
                        <a class="footer__social-icon" href="#"
                            ><i class="fa-brands fa-youtube"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>

        <span class="footer__bottom-row p-5"> Copyright Eoghan Behan &copy;</span>
    </div>
</footer>
