{% load static %}

<div class="navbar w-100 " id="navbar">
    <div class="navbar-items w-100 d-flex justify-content-between align-items-center container">
        <div class="navbar-items__logobox pe-5">
            <a href="{% url 'home' %}" class="navbar-items__logo-link">
                <img class="navbar-items__logo-img" src="{% static 'media/alpha-logo-no-mark.png' %}" alt="Company logo">
            </a>
        </div>
        <div class="navbar__buttons">
            <a href="{% url 'bag' %}" class="navbar-toggler" type="button" id="" aria-expanded="false" aria-label="open bag">
                <i class="fa-solid fa-cart-shopping primary-color fs-1"></i>
                {% if bag_items|length > 0 %}
                <span class="">{{ bag_items|length }}</span>
                {% endif %}
            </a>
            <button class="navbar-toggler me-5 " type="button" id="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars primary-color fs-1"></i>
            </button>

        </div>
    </div>
</div>

<a href="#" class="nav__close" id="nav-close-btn">
    <i class="fas fa-times"></i>
</a>
<nav id="nav" class="nav hide">
    <a href="{% url 'home' %}" class="nav__link">
        <span>Home</span>
        <img class="nav__img" src="https://source.unsplash.com/sHfo3WOgGTU" alt="">
    </a>
        <a href="{% url 'products' %}" class="nav__link">
        <span>Merch</span>
        <img class="nav__img" src="https://source.unsplash.com/5UbIqV58CW8" alt="">
    </a>
    <a href="{% url 'memberships' %}" class="nav__link">
        <span>Memberships</span>
        <img class="nav__img" src="https://source.unsplash.com/U2q73PfHFpM" alt="">
    </a>
    <a href="#" class="nav__link">
        <span>Account</span>
        <img class="nav__img" src="https://source.unsplash.com/AVOADaTBtT4" alt="">
    </a>
</nav>