<!-- <nav class="navbar navbar-expand-md" id="navbar">
    <div class="navbar-items d-flex container">
        <div class="navbar-items__logobox pe-5">
            <a href="#" class="navbar-items__logo-link">
                <img class="navbar-items__logo-img" src="/media/alpha-logo-no-mark.png" alt="Company logo">
            </a>
        </div>
        <button class="navbar-toggler me-5 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars primary-color fs-1"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mb-2 me- mb-lg-0 fs-4 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown<i class="fa-solid chevron-1 fa-chevron-down ps-4 primary-color"></i>
                    <i class="fa-solid chevron-2 fa-chevron-down ps-4 primary-color"></i>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-dark p-4" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav> -->