.btn-rounding {
    text-decoration: none;
    padding: 1.4rem 2.3rem;
    margin: 1rem 2rem;
    background-color: $primary-color-dark;
    color: #fff;
    font-size: 1.6rem;
    transition: all 0.3s ease;
    border: 5px solid $primary-color-dark;
    cursor: pointer;

    @include atMedium {
        font-size: 2rem;
        
    }
    
    &:hover {
        background-color: #fff;
        color: $primary-color-dark;
        border-radius: 2rem;
    }
    
    &--warning {
        background-color: $warning-color;
        border: 5px solid $warning-color;
    }

    &--warning:hover {
        color: $warning-color;
    }
}