.product-slider {
    display: flex;
    margin-top: 20rem;

    &__bg {
        height: 60vh;
        background-color: $primary-color-darker;

    }
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    

    &__featured {
        margin-top: 5rem;
        margin-bottom: 10rem;
        font-weight: 100;
        letter-spacing: 1rem;
        color: #fff;
        
        & h2 {
            font-size: 6rem;
            
        }
    }

    &__card {
        position: relative;
        height: 30rem;
        margin: 0 3rem;
        transition: 0.3s ease;

        &--active {
            // transform: scale(1.4);
            height: 40rem;
            ::after {
                content: '';
                position: absolute;
                top: 110%;
                right: 15%;
                height: 10rem;
                width: 23rem;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.8);
                filter: blur(2rem);
                perspective: 30rem;
            }
        }

        &:hover {
            animation: jiggle 1s ease;
            animation-iteration-count: 1;
            animation-fill-mode: both;
            transform: scale(1.075);
        }
    }

    &__img {
        height: 100%;
        margin-top: 10rem;

        & img {
            height: 100%;
        }
    }

    &__info {

    }
}

.neon {
    position: relative;
    color: $primary-color;
    animation: glow 2s ease-in-out infinite alternate;
    // z-index: 100;
}