{% extends 'base.html'%}
{% load static %} 

{% block extra_js %} 
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
{% endblock %} 

{% block content %}


    <div class="container">
        <div style="height: 20vh; background-color: darkgreen;">
        
        </div>
        <div class="row my-5">
            {% for product in products %}
            <div class="col-4 my-5">
                <div class="product-card ">
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="product-card__img-container">
                            <img class="product-card__img" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                        </div>
                    </a>
                    <div class="product-card__info-box">
                        <a href="#" class="product-card__category-btn mx-auto">
                            {{ product.category }}
                        </a>
                        <h1 class="product-card__title">{{ product.name }}</h1>
                    </div>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>


{% endblock %}

