{% extends 'base.html'%}
{% load static %} 


{% block content %}

    <div class="container">
        
        <div class="row">
            <div class="col-3">
                <div class="product-card primary-bg-darker">
                    <div class="product-card__img-container">
                        <img class="product-card__img" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                    </div>
                    <div class="product-card__info-box">
                        <h1>{{ product.name }}</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}