{% extends 'base.html'%}
{% load static %} 

{% block extra_js %} 
<script src="{% static 'js/change_qty.js' %}" defer></script>
<script src="{% static 'home/js/scroll_animations.js' %}" defer></script>
{% endblock %} 


{% block content %}

<div class="mobile-filler"></div>

    <div class="container p-0">
        <div class="row">
            <ul class="detail__breadcrumb">
                <a href="{% url 'products' %}">Merch</a>
                <span>/</span>
                <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>
            </ul>
        </div>
        
        <div class="row my-5">
            <div class="col-12 col-md-6">
                <div class="detail__img-container">
                    <img src="{{ MEDIA_BASE_URL }}{{ product.image }}"></img>
                </div>
            </div>
            <div class="col-12 col-md-6 detail__info">
                <h1>{{ product.name }}</h1>
                <h2>€{{ product.price }}</h2>
                <p>{{ product.description }}</p>
                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6 cl-lg-12 align-self-center">
                            <div class=" qty-input">
                                <h2>Quantity:</h2>
                                <input class="qty-input__number" name="quantity" type="number" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{  product.id }}">
                                <button type="button" class="qty-input__add-sub add" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    {% include 'includes/svg/plus-sign.html' %}
                                </button>
                                <button type="button" class="qty-input__add-sub sub mx-auto" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    {% include 'includes/svg/minus-sign.html' %}
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn-rounding ms-0">
                                <span class="p-2 mt-2 mx-1">Add To Cart   <i class="fa-solid fa-cart-shopping"></i></span>
                            </button> 
                            {% if user.is_superuser %}   
                            <a type="button" class="btn-checkout me-5" href="{% url 'edit_product' product.id %}">Edit Product</a>
                            <a type="button" class="btn-rounding btn-rounding--warning" href="{% url 'delete_product' product.id %}">Delete Product</a>
                            {% endif %}
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="detail__recommends">
                <h2>We Recommend</h2>
                <div class="row flex-column flex-lg-row justify-content-center align-items-center my-5">
                {% for product in recommended_products %}
                <div class="col-12 col-lg-4">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_BASE_URL}}{{ product.image }}" alt="">
                    </a>
                    <a href="{% url 'product_detail' product.id %}">
                        <h3>{{ product.name }}</h3>
                    </a>
                    <h3>€{{ product.price }}</h3>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}