{% extends 'base.html'%}
{% load static %} 


{% block content %}

<div class="mobile-filler"></div>

    <div class="container">
        <div class="row">
            <ul class="detail-breadcrumb">
                <a href="{% url 'products' %}">Merch</a>
                <span>/</span>
                <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.name }}</a>
            </ul>
        </div>
        
        <div class="row my-5">
            <div class="col-6 my-5">
                <div class="detail-img-container">
                    <img src="{{ MEDIA_URL}}{{ product.image }}"></img>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
    </div>

{% endblock %}